In [38]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

In [39]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Assistant\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Assistant\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Assistant\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Assistant\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [40]:
df_train = pd.read_csv("Resources/twitter_training.csv", header=None)
df_train.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [41]:
df_test = pd.read_csv("Resources/twitter_validation.csv",header=None)
df_test.head()

,0,1,2,3
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [42]:
df = pd.concat([df_test,df_train], axis=0)

In [43]:
df = df.drop([0,1],axis=1)

In [44]:
df = df.rename(columns={3:'text'})
df = df.rename(columns={2:'sentiment'})

In [45]:
df['text'].isna().sum()

686

In [46]:
df.dropna(subset=['text'],inplace=True)

In [47]:
print(df['text'].isna().sum())
print(df['sentiment'].isna().sum())

0
0

In [48]:
def preprocess_text(text):
    # Lowercase the text
    text = text.lower()
    
    # Remove punctuation
    text = ''.join([char for char in text if char not in string.punctuation])
    
    # Tokenization (split the text into words)
    tokens = nltk.word_tokenize(text)
    
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    
    # Lemmatization (reduce words to their base form)
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    
    # Join the tokens back into a single string
    text = ' '.join(tokens)
    
    return text

# Apply the text pre-processing function to the '3' column
df['text'] = df['text'].apply(preprocess_text)

In [49]:
#df_train = pd.get_dummies(df_train, columns=['sentiment'], prefix='sentiment')

In [36]:
df = df.sample(frac=1).reset_index(drop=True)
df

        sentiment                                               text
0        Negative             nba2k yall got yannis apple yall mouth
1        Negative  battlefield v campaign chapter 1 bunker pain a...
2         Neutral     play live twitchtv reeswillz18 rts appreciated
3        Positive  grateful opportunity talk fifa sportsmedialgbt...
4        Negative  moment dot community still exists pure stubbor...
...           ...                                                ...
74991    Negative  fact brother apex deserves every bit heat get ...
74992  Irrelevant     let go lie afraid something antifa keep giving
74993     Neutral     game gon na start acting nice hope getting ps5
74994    Positive                                          ’ perfect
74995    Negative  ghostrecon server trying connect last 6 hour e...

[74996 rows x 2 columns]

In [51]:
df.isna().sum()

sentiment    0
text         0
dtype: int64

In [52]:
df.to_csv('Resources/processed_data.csv')